.navbar {
    background-color: mediumpurple;
}

/* Change the hover color for navbar links */
.navbar a:hover {
    background-color: purple;
    color: white;
}

/* Customize the dropdown menu */
.navbar .dropdown-menu {
    background-color: purple;
}

/* Change the color of items in the dropdown menu on hover */
.navbar .dropdown-menu li a:hover {
    background-color: darkpurple;
    color: white;
}

.dropdown:hover {
    color: purple;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #fff;
    background-color: purple;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #fff;
    background-color: purple;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    color: #fff;
    background-color: purple;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover, .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #fff;
    background-color: #581845;
}

.navbar-default .navbar-nav .open .dropdown-menu>.active>a, .navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover, .navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus {
    color: #fff;
    background-color: #581845;
}